@import 'https://fonts.googleapis.com/css?family=Roboto:400';
@import 'https://fonts.googleapis.com/css?family=Roboto:700';
@import 'https://fonts.googleapis.com/css?family=JetBrains+Mono';


 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background:#292C35;
    font-family: 'Roboto';
    line-height: 1.5;
 }

 .wrapper {
   background: #292C35;
   margin: 0 auto;
   width: 100%;
   transition: all 0.3s ease;
 }

 #name {
    font-family: 'Roboto';
    font-size: 5rem;
    font-weight: 700;
    color: white;
    margin-top: 30px;
 }

 #swe {
   font-weight: 700;
   color: #AAA3AA;
   font-size: 5rem;
 }

 #hello {
   font-family: 'Jetbrains Mono';
   color: #C678DD;
 }

 .inside {
   /* border: 1px solid; */
 }

 .navbar__menu {
   list-style: none;
   display: flex;
   justify-content: right;
   margin-right: 30px;
   margin-bottom: 25vh;
   
 }

 .navbar__link {
    
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #C678DD;
    font-family: 'Jetbrains Mono';
    margin-right: 50px;
    margin-top: 30px;
 }

 span.link:hover {
   color: #C678DD;
   transition: all 0.5s ease;
 }

 span.link {
    color: #AAA3AA;
    font-family: 'Jetbrains Mono';
    transition: all 0.5s ease;
 }

 .button {
    text-decoration: none;
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    border: none;
    outline: solid;
    outline-color: #C678DD;
    width: 80px;
    height: 40px;
    border-radius: 4px;
    color: #C678DD;
    font-family: 'Jetbrains Mono';
    background: rgba(198, 120, 221, 0.25);
 }

 .bio {
   display: flex;
   margin-top: 30px;
   font-size: 1.2rem;
   width: 55%;
   color :#A3A4A8;
   /* border: 1px solid; */
 }

 .vt {
   text-decoration: none;
   color: #C678DD;
 }

 .header {
   display: flex;
   flex-direction: column; 
   /* border: 1px solid white; */
   width: 1000px;
   height: 270px;
   /* margin: 0 auto; */
   margin-top: 0;
   margin-bottom: 60vh;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
 }


 .about {
   color:#A3A4A8;
   /* border: 1px solid; */
   display: flex;
   width: 30%;
   margin-top: 100px;
   padding-top: 100px;
   margin-left: auto;
   margin-right: auto;
   flex-direction: column;
   text-align:left;
   font-size: 1.2rem;
   align-items: left;
 }

 .projects {
   color:#A3A4A8;
   /* border: 1px solid; */
   display: flex;
   width: 90%;
   margin-top: 100px;
   padding-top: 100px;
   margin-left: auto;
   margin-right: auto;
   flex-direction: column;
   text-align:left;
   font-size: 1.2rem;
   align-items: center;
 }

 .contact {
   color:#A3A4A8;
   /* border: 1px solid; */
   display: flex;
   width: 90%;
   margin-top: 100px;
   padding-top: 100px;
   margin-left: auto;
   margin-right: auto;
   flex-direction: column;
   text-align:left;
   font-size: 1.2rem;
   align-items: center;
   margin-bottom: 100px;
 }

 .contact .line {
   width: 576px;
   height: 1px;
   background:#fff;
   opacity: 0.5;
   margin-top: 10px;
   margin-bottom: 10px;
 }

 .projects .line {
   width: 576px;
   height: 1px;
   background:#fff;
   opacity: 0.5;
   margin-top: 10px;
   margin-bottom: 10px;
 }

 .section__title {
   color:#C678DD;
   font-family: 'Jetbrains Mono';
   font-size: 1rem;
 }

 .about .line {
   width: 576px;
   height: 1px;
   background:#fff;
   opacity: 0.5;
   margin-top: 10px;
   margin-bottom: 10px;
 }

 span.title {
   color:#AAA3AA;
   font-family: 'Roboto';
   font-size: 1.5rem;
 }

.skills {
   font-family: 'Jetbrains Mono';
   font-size: 0.9rem;
   margin-left: 20px;
   color:#C678DD;
}

.contact__info {
   text-decoration: none;
   color:#C678DD;
}

#btn {
   display: none;
   position: fixed;
   bottom: 20px;
   right: 20px;
   z-index: 99;
   border: none;
   outline: none;
   background-color:#fff;
   opacity: 0.5;
   color: #292C35;
   cursor: pointer;
   padding: 15px;
   border-radius: 20px;
   transition: all 0.3s ease;
}

#btn:hover {
   background-color: #C678DD;
}